.video-content{
	display:block;
	width: 80%;
	height: auto;
	margin: 1em 10% 1em 10%;
	background: #ccc;
	border-radius: 2em;

}
.above_vid{
	padding-top: 1em;
width: 100%;
display:inline-block;
float: left;
}

.vid_overlay{
	width:100%;
	left:0;
	top:0;
	height: 100%;
	position:absolute;
	z-index: 100;
}
.vid_overlay .vid_title{
	margin-top:0;
	text-align: center;
	position: relative;
	display:block;
	font-size:3em;
	color:#ffffff;
	z-index: 100;
	font-size:3em;
	font-size: 2.75vw;
	width: 85%;
	left: 7.5%;
	top: 0px;
	padding: 0.5em 1em;
	background: rgba(33, 33, 33, 0.7);
}

.vid_cats{
	display: table;
	width: 100%;
	margin: auto;
	position: absolute;
	font-size: 1.1em;
	bottom: 6em;
	font-size: 1.1vw;

}
.vidCategory{
	display: table-cell;
	width: 15em;
	left: -7.5em;
	padding-top: 0.5em;
	margin: 0 auto;
}
.vid_cat {
  width:70%;
  max-width:17em;
  max-width: 17vw;
  margin:0 auto;
  display:block;
  font-size: 1.3em;
  height: 2.5em;
  height: 2.5vw;
  padding-top: 0.4em;
  padding-top: 0.4vw;
  text-decoration: underline;
  border-color: rgba(50, 50, 50 0.8);
  border-radius: 0.3em;
  color:white;
  background: rgba(50, 50, 50 ,0.7);
}

.vid_overlay{
	display: none;
}
.subtag{
display:inline-block;
padding: 0.3em;
font-size: 0.9em;
margin:0.4em 0.2em 0.2em 0.2em;
background: rgba(50, 50, 50 ,0.7);
border-radius: 0.5em;
text-align:center;
}
.page_center{
	width:100%;
	float:left;
	display:table;
	margin-top: 1em;
}
.vid_maker_info{
	position: absolute;
	bottom: 0;
	right:0;
	padding:0.3em 0.5em 0.3em 1em;
	font-size: 1.7em;
	font-size:1.5vw;
	border-top-left-radius:1.5em;
	text-align:right;
	background: black;
	color: white;
}

#video_wrapper{
	position:relative;
	text-align: center;
	width: 80%;
	margin: 1em auto;
	height: auto;
	display:block;
}
.vid_info{
	display:block;
	padding:0em 1em 3em 1em;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);
}
.vid_description{
	display: inline-block;
	width:calc(100% - 280px);
}
.vid_info .text-title{
	font-size:1.3em;
	font-weight:bold;
	margin-top: 0.5em;
	color:white;
	float: left;
	clear:right;
	width: 100%;
}
.vid_info .paid{
	float:right;
	width:275px;
	height:275px;
	margin: 0 auto;
	display:inline-block;
	margin-top: 2.5em;
}
.description_ad .paid:before{
	content: 'Advertisement';
	margin-left: 3em;
}

.ratingWidget {  
	display:inline-block; 
    overflow:   visible;   
    width:      8em;  
    height:     2.5em;  
    position:relative;
    top:0.5em;
    font-size:0.8em;
}  

.total_votes {
    font-size: 0.8em;
    font-weight: 100;
    color: white;
    font-weight: 100;
    text-align:left;
    white-space: nowrap;

} 
.below_vid {
	background: #ccc;
	float: left;
	display: block;
	width: 100%;
	color: white;
}

.vid_sharing{
	display: block;
	width: 30em;
	background:#333333;
	text-align:center;
	clear:both;
	margin:0 auto;
}
.vid_sharing i{
	font-size: 2em;
	color: rgba(255, 255, 255, 0.7);
}
.icon-facebook:hover{
	color: #3b5998;
}
.icon-twitter-1:hover{
	color:#00aced;
}
.icon-gplus:hover{
	color: #dd4b39;
}
.icon-tumblr-1:hover{
	color:#32506d;
}
.icon-linked-in:hover{
	color:#007bb6;
}
.icon-stumbleupon:hover{
	color:#EB4924;
}
.icon-reddit:hover{
	color:#CEE3F8;
}
.icon-mail-alt:hover{
	color:#F5F1DE;

}